.section__visual .main-visual_slogan .pc-slogan,
.section__visual .set_common .pc-drink {
    display: none;
}




/* REWARDS */
.section__rewards .inner {
    max-width: none;
    height: 760px;
}

.section__rewards .logo img {
    position: relative;
    left: 100%;
    min-width: 124px;
    width: 165px;
    height: 143px;
}

.section__rewards .rewards_cont {
    width: 370px;
    margin-top: 60px;
    position: absolute;
    top: 180px;
    left: 65px;
}

.section__rewards .rewards_cont_txt {
    text-align: center;
}

.section__rewards .rewards_cont_Btn {
    justify-content: center;
}

.section__rewards .rewards_cont_Btn button {
    padding: 0 40px;
}

.section__rewards .rewards_cont_Btn .sign_up {
    background: #00704a;
    border: 2px solid #00704a;
}

.section__rewards .rewards_giftcon {
    margin-top: 20px;
    width: 370px;
    position: absolute;
    top: 68%;
    left: 65px;
}

.section__rewards .rewards_giftcon_txt {
    text-align: center;
}

.section__rewards .rewards_cont_txt p {
    line-height: 1.5;
}

.section__rewards .rewards_giftcon_Btn {
    position: relative;
    left: 55px;
    padding: 0 65px;
}


/* RESERVE */

.section__reserve button {
    font-size: 14px;
    padding: 0 20px;
    line-height: 34px;
    margin-left: -55px;
}

/* FAVORITE */
.section__favorite {
    padding-bottom: 30px;
    height: auto;
}

.section__favorite .inner {
    max-width: none;
}

.section__favorite .fav-left {
    top: 60%;
    left: 50%;
    margin-left: -185px;
}

.section__favorite .summary {
    width: 400px;
}

.section__favorite .summary-description {
    font-size: 14px;
}

.section__favorite .summary-ttl {
    font-size: 30px;
}

.section__favorite .fav-left button {
    left: 130px;
}

.section__favorite .fav-right {
    width: 460px;
    height: 314px;
}

/* MAGAZINE */
.section__magazine .inner {
    max-width: none;
    height: auto;
}

.section__magazine .magz-right {
    position: relative;
    margin-top: 40px;
}